PAYLOAD_SECRET=YOUR_SECRET
DATABASE_URI=mongodb://127.0.0.1/your-database-name
RESEND_API_KEY=resend-api-key
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_SITE_URL=http://localhost:3000
