PAYLOAD_SECRET=YOUR_SECRET
DATABASE_URI=mongodb://127.0.0.1/your-database-name
RESEND_API_KEY=resend-api-key
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_SUCCESS_URL=http://localhost:3000/sessions/success
STRIPE_CANCEL_URL=http://localhost:3000/sessions/cancel